/* =Front Page
-------------------------------------------------------------- */

/* Unslider */
.slider-wrapper {
	background: #222;
	//padding: 20px 0;
	// Precomputed height so slideshow background doesn't change when
	// slideshow loads
	height: 540px;
}

.slider {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	overflow: auto;

	li {
		list-style: none;
		width: 960px;
		height: 540px;
	}

	ul, ol, dl {
		margin: 0;
	}

	ul li {
		float: left;
	}

	.dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;

		li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;
			
			text-indent: -999em;
			
			border: 2px solid #fff;
			border-radius: 6px;
			
			cursor: pointer;
			opacity: .8;
			background-color: rgba(255, 255, 255, 0.2);
			
			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			-o-transition: background .5s, opacity .5s;
			-ms-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;

			&.active {
				background: #fff;
				opacity: 1;
			}
		}
	}
}

.front-content {
	background: @page-bg-color;
	padding: 30px 0 10px;

	.panel {
		margin: 0px;
	}

	.infobox {
		padding: 20px;
	}

	.infobox-title {
		margin: 0 0 20px;
	}

	.row {
		margin: 10px auto 30px;
	}
}

.announcements {
	.panel;
	margin: 10px 0;
	padding: 15px 20px;

	p {
		margin: 0;
	}
}

/* Google Maps */
.google-maps-school {
	width: 600px;
	height: 300px;
}