/* =Front Page
-------------------------------------------------------------- */

.front-content {
	.infobox {
		padding: 20px;
	}

	.infobox-title {
		margin: 0 0 18px;
	}

	.row {
		margin: 10px auto;
	}
}